.container {
    margin-top: 10px;
}

.row {
    margin-bottom: 10px;
}

.row_margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.alert {
    margin-bottom: 0;
}

#btn_choose {
    margin-top: 15px;
}

.variant {
    margin-top: 25px;
    margin-bottom: 25px;
}

#div-buttons {
    margin-top: 20px;
}



body {
    background-color: #f7f7f7;
    color: #002a52;
    font-family: sans-serif;
}

.header-body {
    border-bottom: 1px solid #c5c5c5;
    padding-top: 20px;
}
